<?xml version="1.0" encoding="UTF-8"?>

<jnlp href="$outputFile" spec="1.5+" codebase="$codebase">
  <information>
    <title>$systechProductLongName</title>
    <vendor>$vendorUrl</vendor>
    <homepage href="$vendorUrl"/>
    <description kind="short">$project.description</description>    
    <offline-allowed/>
    <shortcut online="true">
        <desktop/>
        <menu submenu="$project.Organization.Name"/>
    </shortcut>
  </information>
  <security>
    <all-permissions>
    </all-permissions>
  </security>
  <resources>
    <j2se version="1.7+" max-heap-size="256m" initial-heap-size="32m">
    </j2se>
    <property name="log4j.defaultInitOverride" value="true"/>
    <property name="log4j.configuration" value="log4j.xml" />
    $dependencies
  </resources>
  <application-desc main-class="$mainClass">	
	<argument>-jar</argument>
	<argument>${systechBiometricsApplication}</argument>
  </application-desc>
</jnlp>
